{% extends 'base/base.html' %}

{% block content %}
{% include 'items/snippets/delete.html' %}

<a href="{% url 'projects:list' %}">Back</a>

<div class="row">
    <div class="col mt-2">
        <h3>{{ object.name }} </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="check-all">
                        </div>
                    </td>
                    <th>Name</th>
                    <th>Content Type</th>
                    <th>Created at</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="items">
                {% for item in items %}
                    {% include 'items/snippets/item.html' with item=item %}
                {% endfor %}
            </tbody>
        </table>

    </div>
    
</div>
{% endblock %}

{% block scripts %}
<script>
    const checkAll = document.getElementById('check-all')

    checkAll.addEventListener('change', function(event){
        document.querySelectorAll(".item-checkbox").forEach(element => {
            element.checked = this.checked;
        })
    });


    $('#deleteModal').on('show.bs.modal', function (event) {
        
        var button = $(event.relatedTarget)
        var item = button[0];
        var modal = $(this)

        itemId = item.getAttribute('item-id');

        fetch(item.href)
        .then(response => response.json())
        .then(function(data){
            
            modal.find('#item-name').text(data.name);
            modal.find('#delete-item-button')[0].href = data.delete_url

        });
    
    })

</script>
{% endblock %}