<form method="POST" enctype="multipart/form-data" action="#">
    {% csrf_token %}
    
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
            {% if input.errors %}
                {{ input.errors }}
            {% endif %}
        </div>
    {% endfor %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
        
    <div>
      <input type="submit" class="btn btn-primary" value="crear"></input>
    </div>

  </form>